.Rproj.user
.Rhistory
.RData
inst/doc

#ephemeral file created by testing, sometimes
tests/testthat/Rplots.pdf
*.DS_Store

# Analysis folder
analysis/

# R CMD check artifacts
*.Rcheck/
..Rcheck/
mapvizieR_*.tar.gz

# Compiled code
src/*.o
src/*.so
src/*.dll
